<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <system.serviceModel>
    <client>
      <endpoint address="http://epmprod01/escritoriodeprojetos/_vti_bin/PSI/LoginWindows.asmx"
        binding="basicHttpBinding" bindingConfiguration="basicHttpConf"
        contract="WebLoginReference.LoginWindowsSoap" name="LoginWindowsSoap" />
    </client>
   
    <behaviors>
      <endpointBehaviors>
        <behavior name="basicHttpBehavior">
          <clientCredentials>
            <windows allowedImpersonationLevel="Identification"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpConf" sendTimeout="01:00:00" maxBufferSize="500000000" maxReceivedMessageSize="500000000">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="500000000"/>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" realm=""/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
